@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic);
/* line 9, sass/main.scss */
* {
  padding: 0px;
  margin: 0px;
}

/* line 14, sass/main.scss */
body {
  background-color: #53b0be;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 22, sass/main.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 27, sass/main.scss */
#title {
  position: absolute;
  top: 1px;
  left: 50px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5em;
}

/* line 39, sass/main.scss */
.card {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 5px;
  padding: 0px;
  cursor: pointer;
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 57, sass/main.scss */
.front, .back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
}

/* line 65, sass/main.scss */
.front {
  z-index: 2;
  border-radius: 50%;
  border: 0px solid white;
  opacity: 0;
  width: 100%;
  height: 100%;
  -moz-transition-property: opacity, background-color;
  -o-transition-property: opacity, background-color;
  -webkit-transition-property: opacity, background-color;
  transition-property: opacity, background-color;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 77, sass/main.scss */
.isactive .front {
  background-color: gainsboro;
  opacity: 1;
}
/* line 80, sass/main.scss */
.isactive .front:hover {
  background-color: black !important;
}

/* line 84, sass/main.scss */
.isactive.uncover .front {
  opacity: 0;
}

/* line 88, sass/main.scss */
.back {
  border: 1px solid white;
  width: 148px;
  height: 148px;
  background-color: #f5f5f2;
  border-radius: 50%;
}
/* line 94, sass/main.scss */
.back p {
  margin: 50px auto 0 auto;
  text-align: center;
  width: 80%;
  font-size: 0.85em;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
/* line 105, sass/main.scss */
.back img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* line 113, sass/main.scss */
.click .front {
  opacity: 0;
}

/* line 118, sass/main.scss */
#game-container {
  display: none;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 128, sass/main.scss */
#container {
  vertical-align: top;
  max-width: 665px;
  position: relative;
  display: inline-block;
}

/* line 137, sass/main.scss */
#stats {
  border-left: 6px solid #f0f0e6;
  display: inline-block;
  position: relative;
  width: 250px;
  vertical-align: top;
  margin-left: 50px;
  padding-left: 30px;
  text-align: center;
  width: 0px;
  opacity: 0;
  -moz-transition-property: width, opacity;
  -o-transition-property: width, opacity;
  -webkit-transition-property: width, opacity;
  transition-property: width, opacity;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 155, sass/main.scss */
.stat {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  margin: 0 20px 0 20px;
}

/* line 165, sass/main.scss */
svg {
  height: 25px;
}
/* line 167, sass/main.scss */
svg path {
  -moz-transition-property: fill;
  -o-transition-property: fill;
  -webkit-transition-property: fill;
  transition-property: fill;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 174, sass/main.scss */
.yellow {
  fill: #f1e40f;
}

/* line 177, sass/main.scss */
.red {
  fill: #c0392b;
}

/* line 181, sass/main.scss */
h1 {
  font-family: "Montserrat";
  letter-spacing: 2px;
  text-transform: left;
  margin-bottom: 50px;
  font-weight: 400;
  color: #282d32;
  text-align: center;
  font-size: 1.8em;
}

/* line 193, sass/main.scss */
#sub-head {
  position: relative;
  margin: 50px auto 10px auto;
  border-top: 2px solid #282d32;
  text-align: center;
  width: 200px;
  z-index: -1;
  line-height: 0.01em;
}
/* line 202, sass/main.scss */
#sub-head span {
  padding: 0 10px 0 10px;
  letter-spacing: 1px;
  line-height: 0px;
  background-color: white;
  font-size: 0.75em;
  z-index: 2;
  font-weight: 400;
  font-family: "Montserrat";
  color: #282d32;
  text-transform: uppercase;
}

/* line 217, sass/main.scss */
#game-options {
  padding: 10px;
}
/* line 219, sass/main.scss */
#game-options img {
  margin: 0 7px 0 7px;
  width: 35px;
  height: auto;
  cursor: pointer;
}

@media screen and (min-width: 900px) and (max-width: 1124px) {
  /* line 231, sass/main.scss */
  h1 {
    font-size: 1em;
  }

  /* line 234, sass/main.scss */
  #stats {
    padding: 20px;
    margin-left: 20px;
  }

  /* line 238, sass/main.scss */
  #container {
    width: 525px;
  }

  /* line 241, sass/main.scss */
  .card {
    width: 115px;
    height: 115px;
    margin: 5px;
  }
}
@media screen and (max-width: 900px) {
  /* line 255, sass/main.scss */
  h1 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  /* line 259, sass/main.scss */
  #stats {
    padding: 0px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 0px solid white;
    text-align: left;
    margin-top: 25px;
  }

  /* line 268, sass/main.scss */
  #game-container {
    padding: 0px;
    top: 0px;
    margin-top: 50px;
  }

  /* line 273, sass/main.scss */
  #container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* line 279, sass/main.scss */
  .card {
    width: 70px;
    height: 70px;
    margin: 3px;
    border: 2px solid white;
  }

  /* line 285, sass/main.scss */
  #sub-head {
    display: none;
  }

  /* line 288, sass/main.scss */
  #game-options {
    display: inline-block;
    padding: 0px;
    float: right;
  }
  /* line 292, sass/main.scss */
  #game-options img {
    margin: 0px;
  }

  /* line 296, sass/main.scss */
  .stat {
    padding: 0px;
    margin: 0px;
  }

  /* line 300, sass/main.scss */
  #star {
    margin-right: 2px;
  }
}
/* line 306, sass/main.scss */
#game-intro {
  width: 550px;
  margin: 200px auto 0 auto;
  text-align: center;
  display: none;
}
/* line 312, sass/main.scss */
#game-intro h2, #game-intro h3 {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
}
/* line 316, sass/main.scss */
#game-intro h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 321, sass/main.scss */
#game-intro h3 {
  font-size: 1em;
  font-weight: 400;
}

/* line 329, sass/main.scss */
#me, #bob {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e74c3c;
  display: inline-block;
  float: left;
  margin-left: 0px;
  -moz-transition-property: margin;
  -o-transition-property: margin;
  -webkit-transition-property: margin;
  transition-property: margin;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  position: relative;
}

/* line 342, sass/main.scss */
#bob {
  background-color: #f7be28;
  float: right;
  margin-right: 0px;
}

/* line 347, sass/main.scss */
.speak {
  position: absolute;
  width: 200px;
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 1.3em;
  color: #1a3f45;
  opacity: 0;
  -moz-transition-property: left, right, opacity;
  -o-transition-property: left, right, opacity;
  -webkit-transition-property: left, right, opacity;
  transition-property: left, right, opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 360, sass/main.scss */
#me .speak {
  left: 50px;
}
/* line 362, sass/main.scss */
#me .speak.in {
  left: 60px;
}
/* line 365, sass/main.scss */
#me .speak.out {
  left: 70px;
}

/* line 371, sass/main.scss */
#bob .speak {
  right: 60px;
}
/* line 373, sass/main.scss */
#bob .speak.in {
  right: 70px;
}
/* line 376, sass/main.scss */
#bob .speak.out {
  right: 80px;
}

/* line 381, sass/main.scss */
.speak.in {
  opacity: 1;
}

/* line 384, sass/main.scss */
.speak.out {
  opacity: 0;
}

/* line 387, sass/main.scss */
#me.move {
  margin-left: 100px;
}

/* line 390, sass/main.scss */
#bob.move {
  margin-right: 100px;
}

/* line 394, sass/main.scss */
#intro-animation {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 50px 0 50px 0;
  margin: 20px 0 20px 0;
  height: 100px;
  width: 100%;
}

/* line 403, sass/main.scss */
#linkedin {
  width: 200px;
  font-weight: 800;
  position: relative;
  color: white;
  border: 3px solid white;
  margin: 25px auto 0 auto;
}
/* line 410, sass/main.scss */
#linkedin:hover {
  color: #1a3f45;
}
/* line 413, sass/main.scss */
#linkedin p {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 10px;
}
/* line 418, sass/main.scss */
#linkedin .IN-widget {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 429, sass/main.scss */
#level1, #level2, #level3 {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  padding: 10px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #53b0bf;
  color: black;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
  -moz-transition-property: background-color, border;
  -o-transition-property: background-color, border;
  -webkit-transition-property: background-color, border;
  transition-property: background-color, border;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 445, sass/main.scss */
#level1:hover, #level2:hover, #level3:hover {
  border: 3px solid white;
  background-color: #53b0bf;
  color: white;
}

/* line 451, sass/main.scss */
#level2 {
  border: 3px solid #e74c3c;
}
/* line 453, sass/main.scss */
#level2:hover {
  border: 3px solid white;
  background-color: #e74c3c;
}

/* line 458, sass/main.scss */
#level3 {
  border: 3px solid #f1c40f;
}
/* line 460, sass/main.scss */
#level3:hover {
  border: 3px solid white;
  background-color: #f1c40f;
}

/* line 465, sass/main.scss */
footer {
  text-align: left;
  x-index: 9999;
  color: black;
  font-family: "Montserrat", serif;
  letter-spacing: 1px;
  font-size: 0.7em;
  position: absolute;
  right: 50px;
  bottom: 10px;
  display: none;
}
/* line 476, sass/main.scss */
footer img {
  height: 11px;
  padding: 0 2px 0 2px;
}
/* line 481, sass/main.scss */
footer #by a {
  color: black;
}
